/*Loading3*/

#load3 {
    display: flex;
    gap: 1em;
}

#load3 div {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    animation-play-state: paused;
}

#ld31 {
    border: 10px solid lightblue;
    border-left: 10px solid blue;
    animation: circleOne 1s linear infinite;
}

#ld32 {
    border: 10px solid transparent;
    border-left: 10px solid blue;
    border-radius: 50%;
    animation: circleTwo 1s linear infinite;
}
#ld33{
    border: 10px solid transparent;
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
    animation: circleOne 1s linear infinite;
}
#ld34{
    border: 10px dotted blue;
    animation: circleThree 1.5s linear infinite alternate ;
}

@keyframes circleOne {
    to {
        transform: rotate(360deg);
    }
}

@keyframes circleTwo {
    to {
        transform: rotate(-360deg);
    }
}
@keyframes circleThree {
    to {
        transform: rotate(360deg);
        border: 10px dotted red;
    }
}
