* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --btnplay:rgb(194, 103, 103);
    --btnstop:rgb(91, 185, 91);
}
main {
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: 100vh;
    margin: 0 auto;
}
@media(max-width:780px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

.load {
    border: 1px solid blue;
    display: grid;
    align-items: center;
    justify-items: center;
}

.btn-play{
    background-color: var(--btnplay);
    position: relative;
    cursor: pointer;
    color: white;
    box-shadow: 2px 8px 10px 0 rgb(63, 63, 63);
    margin-bottom: 3rem;
    border-radius: 20px;
    padding: .8rem 1.5rem;
}
.btn-stop{
    display:none;
    background-color:var(--btnstop);
    position: relative;
    cursor: pointer;
    color: white;
    box-shadow: 2px 8px 10px 0 rgb(147, 193, 139);
    margin-bottom: 3rem;
    border-radius: 20px;
    padding: .8rem 1.5rem;
}

.btn-play:hover{
    background-color: rgb(148, 27, 27)
}
.btn-stop:hover{
    background-color: darkgreen;
}

.btn-play:active{
    top: 6px;
    background-color:var(--btnstop);
    box-shadow: 0px 0px 0px 0;
}
.btn-stop:active{
    top: 6px;
    background-color:var(--btnplay);
    box-shadow: 0px 0px 0px 0;
}

.paused{
    display:none;
}
.run{
    animation-play-state: running !important;
}